
* {
    margin: 0;
    padding: 0;
    /* outline: 2px solid red; */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#121317;
}

.icon {
    width: 35px;
}

.sibebar-icon {
    width: 25px;
}

/* Admin */

#admin-panel {
    display: flex;
    height: auto;
}

/* #Sidebar */

#sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    padding: 25px;
    padding-top: 65px;
    gap: 55px;
    background-color: #181A1E;
    color: white;
}

.admin-user {
    display: flex;
    gap: 25px;
}

.user-image {
    width: 40px;
    background-color: rgb(21, 198, 183);
    border-radius: 50%;
    padding: 8px;
}

.admin-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sidebar-nav p{
    font-size: 0.82em;
}

.sidebar-nav ul{
    list-style: none;
}

.sidebar-nav-container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 15px;
}

/* * {
    outline: 2px solid red;
} */

.sidebar-link {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0;
    font-size: 1.2em;
    font-weight: 600;
    transition: all 0.2s ease;
}

.sidebar-link:hover {
    background-color: rgba(30, 100, 220, 0.5);
}

/* #Dashboard Section */

.panel {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}

#dashboard {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    left: 19%;
    top: 60px;
    padding: 25px;
    height: auto;
    min-height: 84.5vh;
    color: white;
    background-color: #181c24;
}

.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 19%;
    right: 0;
    top: 0;
    padding: 18px;
    align-items: center;
    background-color: #181A1E;
    border-left: 1px solid rgb(101, 101, 101);
}

.navbar-left span{
    font-size: 1.5rem;
}

.nav-icon {
    width: 25px;
    cursor: pointer;
}

.panel-information {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-size: 1.2rem;
    gap: 40px;
}

.panel-card {
    display: flex;
    justify-content: space-between;
    width: 80%;
    background-color: #181A1E;
    padding: 30px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(10, 10, 10, 0.575);
}

.userName {
    color: rgb(37, 150, 255);
}

#sidebar-username {
    font-size: 1.25em;
}

.panel-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.welcome-msg {
    display: flex;
    gap: 10px;
    font-size: 1.15em;
}

/* #Add Service Form */

.addservice-form {
    display: none;
    position: fixed;
    top: 17%;
    left: 38%;
    width: 33%;
    background-color: #181A1E;
    margin-left: 10px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(10, 10, 10, 0.899);
}


form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    gap: 10px;
}

::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    color: #e3e3e37d;
}

hr {
    margin-bottom: 10px;
}

#modify-service-title { 
    font-size: 1.25em;
    padding: 2px;
    margin-bottom: 3px;
    background: none;
    border: none;
    color: white;
    height: 22px;
    max-height: 23px;
    scrollbar-width: none;
}

textarea {
    font-size: 1.5em;
    resize: none;
    padding: 2px;
    margin-bottom: 3px;
    background: none;
    border: none;
    color: white;
    height: 150px;
}

textarea:focus {
    border: none;
    outline: none;
}

label {
    font-size: 1.2em;
    margin-bottom: 12px;
}


/* #Service Table Display */

/* * {
    outline: 2px solid red;
} */

#admin-table {
    display: flex;
    width: 98%;
    padding: 12px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(10, 10, 10, 0.734);
    border-radius: 12px;
    background-color: #181A1E;
    justify-content: center;
    align-items: center;
}

.table-div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}

caption {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 25px;
}

.caption-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caption-title {
    display: flex;
}

.plus-icon {
    width: 24px;
}

.add-service-btn-container {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 1px;
    background-color: transparent;

}

#add-project-btn, #add-service-btn {
    font-size: var(--font-size);
    color: var(--primary-color);
    padding: 15px; 
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: rgb(30, 100, 220);
    box-shadow: var(--btn-shadow);
    transition: all 0.2s ease;
    margin-top: 12px;
    margin-bottom: 12px;
}

#add-service-btn {
    font-size: 0.54em;
    padding: 10px;
}

th, td {
    text-align: left;
    padding: 10px;
}

th, td {
  border: 2px solid #151414;
  padding: 14px;
  text-align: left;
}

thead th {
    color: white;
    background-color: rgb(30, 100, 220);
    font-size: 1.25rem;
    font-weight: 500;
}

tbody tr:nth-child(even) {
  background-color:#121317;
}

tbody tr {
  transition: all 0.3s ease;
}

tbody tr:hover {
  background-color: rgba(30, 100, 220, 0.5);
}

.table-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: transparent;
}

.modify-btn , .delete-btn {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 4px;
    background-color: transparent;
}

.modify-btn {
    background-color:#0055ff8a;
    transition: all 0.2s ease;
}

.delete-btn {
    background-color:#ff00008a;
    transition: all 0.2s ease;

}

.modify-btn:hover, .delete-btn:hover {
    background-color:#1966ffcb;
    transition: all 0.2s ease;
}

.delete-btn:hover {
    background-color:#ff1919cb;
}

.modify-btn img, .delete-btn img{
    width: 25px;
    cursor: pointer;
    background-color: transparent;
}

/* #Modification Form */

#modify-form-container {
    width: 32%;
    background-color: #181A1E;
    margin-left: 10px;
    border-radius: 8px;
    position: fixed;
    top: 17%;
    left: 38%;
    padding: 20px;
    display: none;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(10, 10, 10, 0.75);
}

.close-btn {
    width: 28px;
    position: absolute;
    padding: 4px;
    right: -5px;
    top: -5px;
    cursor: pointer;
    border-radius: 50%;
    background-color:rgb(210, 30, 30);
    box-shadow: 0 0 6px rgba(10, 10, 10, 0.908);
}

form {
    display: flex;
    flex-direction: column;
    width: 94%;
    padding: 15px;
    gap: 10px;
}

::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #e3e3e37d;
}

hr {
    margin-bottom: 10px;
}

input[type="text"] { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    padding: 2px;
    margin-bottom: 3px;
    background: none;
    border: none;
    color: white;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    resize: none;
    padding: 2px;
    margin-bottom: 3px;
    background: none;
    border: none;
    color: white;
    height: 150px;
}

input[type="text"]:focus, textarea:focus {
    border: none;
    outline: none;
}

label {
    font-size: 1.2em;
    margin-bottom: 12px;
}

.modification-buttons {
    display: flex;
    justify-content: right;
    gap: 20px;
}

#apply-changes-btn, #discard-changes-btn {
    font-size: 1.15em;
    color: white;
    padding: 8px 15px 8px 15px; 
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: rgb(30, 100, 220);
    box-shadow: var(--btn-shadow);
    transition: all 0.2s ease;
    margin-top: 12px;
    margin-bottom: 12px;
}

#discard-changes-btn {
    background-color: rgb(185, 30, 30);
}