*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --font-size : 1.25em;
    --font-title : 'Arial', sans-serif;
    --font-logo : 'Arial', sans-serif;
    --bg-color : #121317;
    --btn-font-size : 1.2em;
    --btn-primary-color : rgb(30, 100, 220);
    --btn-secondary-color : rgb(255, 255, 255);
    --btn-border-radius : 40px;
    --btn-shadow: 0 0 10px rgba(17, 17, 17, 0.774);
    --primary-color : rgb(255, 255, 255);
    --secondary-color : rgb(0, 0, 0);
}

html {
    scroll-behavior: smooth;
}

*{
    /* outline: 2px solid red; */
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}


a {
    text-decoration: none;
    color: var(--primary-color);
}

p{
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
    padding: 0;
}

.icon {
    width: 40px;
}

                        /* #INDEX.HTML PAGE */

/* #Hero Section */

.hero-section {
    display: flex;
    flex-direction: column;
    background-color: #121317;
    background-size: cover;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding-top: 10px;
    align-items: center;
    color: var(--primary-color);
    box-sizing: border-box;
}

/*# Navigation Bar */

.navbar {
    display: flex;
    position: static;
    width: 90%;
    height: 25px;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: transparent;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.203);
    border-radius: 18px;
}

.navbar-logo {
    font-size: 1.55em;
    cursor: pointer;
    color: var(--primary-color);
}

.navbar-link ul{
    display: flex;
    flex-direction: row;
    font-size: 1em;
    font-weight: 500;
    gap: 3vw;
    justify-content: space-between;
    list-style: none;
    font-family: var(--font-title);;
}

.navbar-link ul li {
    cursor: pointer;
}

.navbar-call-to-action {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-btn {
    font-size: var(--font-size);
    color: var(--primary-color);
    padding: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: var(--btn-border-radius);
    border: none;
    cursor: pointer;
    background: var(--btn-primary-color);
    box-shadow: var(--btn-shadow);
    transition: all 0.2s ease;
}

.signup-btn:hover {
    background-color: rgb(30, 115, 220);
}

/* #Hero Content */

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin-top: 15vh;
    margin-bottom: 2%;
    width: 90%;
}

.hero-content h1 {
    font-size: 4em;
    font-family: var(--font-title);
    width: 65%;
    max-width: 1000px;
    color: var(--primary-color);
}

.hero-content p {
    font-size:1.25rem;
    width: 50%;
    max-width: 1000px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.hero-buttons {
    display: flex;
    gap: 20px;
}

.Start-project-btn, .view-project-btn {
    display: flex;
    color: var(--primary-color);
    font-size: var(--font-size);
    padding: 30px;
    padding-bottom: 12px;
    padding-top: 12px;
    border-radius: var(--btn-border-radius);
    border: none;
    background: var(--btn-primary-color);
    box-shadow: var(--btn-shadow);
    cursor: pointer;
    transition: all 0.2s ease;
}

.Start-project-btn:hover {
    background-color: rgb(30, 115, 220);
}

.view-project-btn {
    color: var(--primary-color);
    border: 1px solid rgba(68, 68, 68, 0.752);
    background: var(--secondary-color);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.view-project-btn:hover {
    background-color: #101010;
}

.view-project-btn:active, .Start-project-btn:active, .signup-btn:active {
    transform: translateZ(5px) scale(0.95);
    box-shadow: 0 0 0 rgba(111, 111, 111, 0.801);
}

.view-project-btn:hover .Start-project-btn{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.801);
}

/* #Services Section */

.service-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center; 
    background-color: #121317;
    box-sizing: border-box;
    color: white;
    width: 100%;
    padding: 75px;
}

.service-container {
    width: 100;
}

.service-section-h, .service-section-page-h {
    display: flex;
    flex-direction: column;
    font-size: 1.25em;
    font-family: var(--font-title);
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 190px;
    margin-bottom: 50px;
    gap: 6px;
    align-items: center;
}

.service-section-h span, .service-section-page-h span {
    font-size: 3rem;
    padding: 2px;
}

.service-section-p {
    font-size: 1.2rem;
}

#services-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 25px;
    row-gap: 25px;
    text-align: center;
    width: 100%;
    margin-top: 75px;
    padding: 35px;
}

@keyframes fade-in-bottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    height: 350px;
    background-color: #181A1E;
    background: linear-gradient(180deg,rgba(24, 26, 30, 1) 65%, rgba(18, 19, 23, 1) 90%);
    border-radius: 15px;
    box-sizing: border-box;
    animation: fade-in-bottom linear both;
    animation-timeline: view();
    animation-duration: 40s;
    animation-range: entry 25% cover 25%;
}

.service-card:nth-child(6) {
  animation-delay: 50s;
}

.service-card:nth-child(5) {
  animation-delay: 40s;
}

.service-card:nth-child(4) {
  animation-delay: 30s;
}

.service-card:nth-child(3) {
  animation-delay: 20s;
}

.service-card:nth-child(2) {
  animation-delay: 10s;
}

.service-card:nth-child(1) {
  animation-delay: 0s;
}

.service-card h2 {
    font-size: 1.5em;
    font-family: var(--font-title);
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.service-card p {
    font-size: var(--font-size);
    color: rgb(200, 200, 200);
    text-align: center;
}

.service-card-description {
    display: flex;
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateY(80px) ;
}

.service-card:hover .service-card-description {
    opacity: 1;
    transform: translateY(30px);
}

.see-more {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 35px;
}

.see-more-btn, #buildProject {
    display: flex;
    font-size: var(--font-size);
    color: var(--primary-color);
    padding: 30px;
    padding-bottom: 12px;
    padding-top: 12px;
    border-radius: 30px;
    border: 1px solid rgba(68, 68, 68, 0.752);
    background-color: var(--btn-primary-color);
    cursor: pointer;
}

.see-more-btn:hover {
    background-color: rgb(30, 115, 220);
}


/* #Review Section */

.review-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    padding-top: 3%;
    padding: 6%;
    width: 100%;
}

.review-info {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 75%;
    color: white;
    padding: 20px;
    margin-top: 4%;
    margin-bottom: 4%;
}

.summary-review-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary-review-info p {
    font-size: 2.3rem;
}

.summary-review-info span {
    font-size: 0.95rem;
}

.summary-review-info h3 {
    font-size: 1rem;
}

.customer-review, .rewiews-containers {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    margin-top: 8%;
    margin-bottom: 8%;
}

.rewiews-containers {
    flex-direction: row;
    margin: 0;
    align-items: start;
}

.customer-container {
    display: flex;
    flex-direction: column;
    width: 65%;
    text-align: center;
    margin-bottom: 4%;
    gap: 6px;
}

.customer-container p{
    font-size: 1.2rem;
    margin-top: 2px;
}

.customer-container span{
    font-size: 3rem;
    margin-bottom: 10px;
}

.user-review {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #181A1E;
    margin: 10px;
    height: auto;
    min-height: 26vh;
    padding: 25px;
    border-radius: 12px;
    animation: fade-in-bottom linear both;
    animation-timeline: view();
    animation-duration: 75s;
    animation-range: entry 0% cover 50%;
}

.user-review:nth-child(1) {
  animation-delay: 10s;
}

.user-review:nth-child(2) {
  animation-delay: 20s;
}

.user-review:nth-child(3) {
  animation-delay: 40s;
}

.user-review:nth-child(4) {
  animation-delay: 60s;
}

.user-review h3 {
    margin-bottom: 7px;
    font-size: 1.35rem;
    color: rgb(191, 192, 193);
}

.user-review p {
    margin-bottom: 7px;
    font-size: 1.25rem;
}

#buildProject {
    margin-top: 70px;
    padding: 15px;
    font-size: 1.25rem;
}

                        /* #SERVICE.HTML PAGES */

.service-section-page-h {
    margin-top: 100px;
}



/*#Footer Section*/

footer {
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 0;
    background-color: var(--bg-color);
    color: white;
    justify-content: center;
    /* align-items: center; */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.conclusion {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.conclusion p{
    font-size: 2.2rem;
    margin-bottom: 5px;
    font-weight: 600;
}

.timeless {
    font-style: italic;
    font-weight: 500;
}

.socail-medias {
    display: flex;
    justify-content: space-between;
    width: 38%;
    margin-top: 10px;
}

.socail-medias img{
    cursor: pointer;
}

.footer-links-container {
    display: flex;
    flex-direction: column;
}

.footer-links-container h1{
    font-size: 1.3em;
}

.foot-link-div ul{
    display: flex;
    flex-direction: column;
    padding: 10px;
    list-style-type: none;
}

.foot-nav {
    padding-bottom: 10px;
}

.foot-li {
    color: white;
    text-decoration: none;
}

.footer-extra {
    display: flex;
    flex-direction: column;
}

.footer-extra h1{
    font-size: 1.3em;
}

.contact-information {
    display: flex;
    padding-top: 10px;
    align-items: center;
}


.contact-information p{
    padding-left: 10px;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}